.main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
    gap: 2rem;
}

.featureCont{
    margin-top: 30px;
    margin-bottom: 30px;
}

.down{
    height: 30rem;
    background-color: hsl(0, 20%, 95%);
}

.featured{
    margin-top: 120px;
    text-align: center;
    text-decoration: 5px underline hsl(0, 0%, 15%);
}

.featured h3{
    font-weight: 350;
    font-size: 30px;
}

.image img{
    width: 220px;
    border-radius: 11px 11px 0 0;
}

.card{
    border: 2px solid hsl(0, 0%, 20%);
    height: 307px;
    width: 220px;
    border-radius: 12px;
    position: relative;
    box-shadow: 2px 5px 8px hsl(0, 0%, 0%);
}
.info{
    background-color: hsl(0, 0%, 7%);
    border-radius: 0px 0px 9px 9px;
    padding: 0 8px;
}

.info p{
    margin-top: -4px;
    color: white;
    font-size: 13px;
    font-weight: 200;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.bottom{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.bottom button{
    padding-top: 0;
    background-color: white;
    color: black;
    border-radius: 10px;
    position: relative;
    top: -10px;
}

.tags{
    padding-left: 5px;
}

@media(max-width: 800px){
    .card{
        height: 259px;
        width: 180px;
    }.image img{
        height: 180px;
        width: 180px;
    }.info{
        height: 80px;
    }.main{
        display: flex;
        flex-direction: column;
        align-items: center;
    }.down{
        height: 70rem;
    }.featured h3{
        font-size: 15px;
    }
}

