.main{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.top{
    text-align: center;
}

.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 40px 100px;
    gap: 10px;
    justify-content: center;
}

.featureCont{
    border: 1px solid hsl(0, 0%, 80%);
    border-radius: 15px;
    box-shadow: 5px 5px 5px hsl(0, 0%, 0%, 0.2);
}

.image img{
    width: 190px;
    border-radius: 14px 14px 0 0 ;
    border-bottom: 1px solid hsl(0, 0%, 70%);

}

.info{
    margin-top: -20px;
    margin-bottom: -16px;
    padding: 0 5px;
    border-radius: 0 0 14px 14px;
}

.profile{
    background-color: rgb(97, 94, 94);
    border-radius: 50%;
    padding: 3px 3px;
    color: white;
    margin-right: 3px;
    font-size: 10px;
}

.nameHead{
    margin-top: -18px;
}

.name{
    font-size: 11.5px;
    padding-top: 10px;
}

.priceHead{
    margin-top: 6px;
    margin-left: 2px;
}

.price{
    font-size: 15px;
}

.locationHead{
    margin-top: -15px;
    color: green;
}

.location{
    font-size: 11.5px;
    position: relative;
    top: -2px;
}

.profileLocation{
    font-size: 13px;
    margin-right: 2px;
}

.main{
    border-bottom: 1px solid hsl(0, 0%, 50%);
}