.main{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.top{
    text-align: center;
}

.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 40px 100px;
    gap: 10px;
    justify-content: center;
}

.featureCont{
    border: 1px solid hsl(0, 0%, 50%);
    border-radius: 15px;
    background-color: hsl(0, 0%, 95%);
    box-shadow: 5px 5px 5px hsl(0, 0%, 0%, 0.3);
}

.image img{
    width: 190px;
    border-radius: 14px 14px 0 0 ;
    border-bottom: 1px solid hsl(0, 0%, 70%);
}

.info{
    margin-top: -25px;
    margin-bottom: -16px;
    padding: 0 5px;
    border-radius: 0 0 14px 14px;
}

.profile{
    background-color: hsl(0, 0%, 18%);
    border-radius: 50%;
    padding: 3px 3px;
    color: white;
    margin-right: 3px;
    margin-left: 2px;
    font-size: 10px;
}

.productHead{
    margin-left: 2px;
}

.product{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
    font-weight: 540;
    margin-left: 2px;
    color: hsl(0, 0%, 25%);
}

.nameHead{
    margin-top: -18px;
}

.name{
    font-size: 10.5px;
    padding-top: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 300;
    color: hsl(0, 0%, 25%);
}

.priceHead{
    margin-top: 6px;
    margin-left: 2px;
}

.price{
    font-size: 13px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 450;
    margin-left: 2px;
    color: hsl(0, 0%, 25%);
}

.locationHead{
    margin-top: -15px;
    margin-left: 2px;
    color: green;
}

.location{
    font-size: 10.5px;
    position: relative;
    top: -2.9px;
    right: -2px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 300;
}

.profileLocation{
    font-size: 13px;
    margin-right: 2px;
}

.main{
    background-color: hsl(0, 20%, 95%);
}

.down{
    margin-top: -15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.downRight button{
    position: relative;
    bottom: -8px;
    background-color: hsl(0, 0%, 15%);
    color: white;
    border-radius: 10px;
}