.hero{
    display: flex;
    flex-direction: row;
    padding: 30px;
    margin-top: 25px;
    margin-bottom: 65px;
    flex-wrap: wrap;
    gap: 1rem;
}


.left{
    flex: 1;
    flex-direction: column;
    justify-content: flex-start;
    min-width: 300px;
    margin-top: 20px;
    margin-left: 30px;
}

.buttons{
    display: flex;
    gap: 8px;
}

.btn{
    display: inline-block;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: black;
    font-weight: 300;
    border: 1px solid black;
    padding: 5px;
    width: 75px;
    box-shadow: 2px 3px 10px hsla(0, 0%, 0%, 0.6);
}


.btn:hover{
    background-color: white;
    color: black;
    cursor: pointer;
}


.left h2{
    color: hsl(0, 0%, 25%);
    font-family: 'Inter', 'Helvetica' ;
    margin: 8px auto;
    font-size: 3rem;
    display: flex;
    justify-content: flex-start;
}

.left p{
    color: hsl(0, 0%, 10%);
    font-weight: 300;
    font-size: 23px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.right{
    display: flex;
    min-width: 50%;
    margin-top: 20px;
    position: relative;
}

.image img{
    width: 220px;
    height: 220px;
    margin-top:0;
    border-bottom: 1px solid hsl(0, 0%, 70%);
    border-radius: 11px 11px 0 0;
}

.first{
    border: 2px solid hsl(0, 0%, 50%);
    height: 245px;
    width: 220px;
    border-radius: 12px;
    background: linear-gradient(to bottom, hsl(0, 0%, 0%), hsl(0, 0%, 95%));
    position: relative;
    bottom: -120px;
    z-index: 2;
    transform: skew(-5deg);
    box-shadow: 5px 5px 8px hsl(10, 20%, 25%, 0.4);
}

.second{
    border: 2px solid hsl(0, 0%, 50%);
    height: 245px;
    border-radius: 12px;
    background: linear-gradient(to bottom, hsl(0, 0%, 0%), hsl(0, 0%, 95%));
    position: relative;
    left: -60px;
    z-index: 1;
    transform: skew(-5deg);
    box-shadow: 5px 5px 8px hsl(0, 10%, 25%, 0.4);
}

.info{
    /* background-color: hsl(0, 0%, 97%); */
    border-radius: 0px 0px 9px 9px;
    padding: 0 8px;
    height: 83px;
    margin-top: 5px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.info p{
    margin-top: -4px;
    color: black;
    font-size: 13px;
    font-weight: 400;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.bottom{
    display: flex;
    flex-direction: row;
    gap: 110px;
    justify-content: space-between;
}

.bottom button{
    padding-top: 0;
    background-color: white;
    color: black;
    border-radius: 10px;
    position: relative;
    top: -10px;
}

@media(max-width: 870px){
    .first{
        width: 150px;
        height: 262px;
        margin-left: 50px;
    }.first img{
        width: 150px;
    }.second{
        width: 150px;
        height: 262px;
    }.second img{
        width: 150px;
    }.left{
        margin-left: 10px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
}

@media(max-width: 760px){
    .right{
        display: none;
    }.buttons{
        display: flex;
        justify-content: center;
        margin: 0 60px;
    }.left {
        text-align: center;
    }.left p{
        font-size: 16px;
    }.left h2{
        font-size: 30px;
        text-align: center;
        justify-content: center;
    }.btn{
        width: 95px;
    }
}

.tags{
    padding-left: 5px;
}