.cont{
    display: flex;
    flex-direction: row;
    padding: 50px;
    justify-content: center;
    background-color: hsl(204, 100%, 99%);

}

.name{
    border: 1px solid hsl(0, 0%, 70%);
    padding: 0 8px;
    border-radius: 10px;
    font-size: 11px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: hsl(0, 0%, 10%);
}

.available{
    border: 1px solid hsl(0, 0%, 70%);
    padding: 2px 4px;
    border-radius: 10px;
}

.description{
    border: 1px solid hsl(0, 0%, 70%);
    border-radius: 10px;
    padding: 5px;
    box-shadow: 5px 5px 5px hsl(0, 0%, 0%, 0.2);
}

.desHead{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.desHead h3{
    font-weight: 350;
    font-size: 15px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: hsl(0, 0%, 15%);

}

.description p{
    font-size: 13px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: hsl(0, 0%, 15%);
}

.contact{
    border: 1px solid hsl(0, 0%, 70%);
    padding: 5px;
    margin-top: 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px hsl(0, 0%, 0%, 0.2);

}

.contHead{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.contHead h3{
    font-size: 15px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: hsl(0, 0%, 15%);
    font-weight: 350;
}

.contacts{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.social{
    display: flex;
    flex-direction: row;
    margin: 10px;
}

.icon{
    display: flex;
    flex-direction: column;
}

.info{
    display: flex;
    flex-direction: column;
    margin-top: -7px;
    margin-left: 7px;
}

.icons{
    font-size: 15px;
    border-radius: 50%;
    border: 1px solid hsl(0, 0%, 85%);
    color: hsl(0, 0%, 10%);
    padding: 5px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgb(240, 240, 240);
}

.contactBelow{
    margin-top: -10px;
    font-size: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 499;
}

.contactUp{
    font-size: 11px;
}

.box1{
    width: 40%;
}

.box2{
    width: 40%;
}

.box1 img{
    width: 400px;
    border: 1px solid hsl(0, 0%, 100%);
    border-radius: 20px;
    border: 1px solid hsl(0, 0%, 70%);
    position: relative;
    top: 20px;
}

h1{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 350;
    margin-top: -10px;
    font-size: 20px;
    color: hsl(0, 0%, 30%);
}

h2{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 300;
    margin-top: -10px;
    font-size: 14px;
    color: hsl(0, 0%, 30%);
}

p{
    font-weight: 100;
    font-family: 'Inter', 'Helvetica' ;
}

.note{
    position: relative;
    top: 2px;
    margin-right: 3px;
}

.noteParagraph{
    font-size: 14px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: relative;
    top: -1px;
}

.down{
    margin-right: 10px;
    cursor: pointer;
    color: hsl(0, 0%, 20%);
}

.contactUp{
    color: hsl(0, 0%, 40%);
    font-size: 11px;
}

.contactBelow{
    color: hsl(0, 0%, 10%);
    font-size: 13px;
}

.chat{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 200;
    font-size: 12px;
    margin-left: 5px;
    position: relative;
    top: 7px;
}

.chat a{
    text-decoration: none;
}